* {
  font-family: Merriweather, serif;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #B0B2AC; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B0B2AC; 
}

.category-container {
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 10em;
}

.timeline {
  position: fixed;
  right: 0;
  top: 50%;  /* Position at center vertically */
  transform: translateY(-50%);  /* Shift up by half of its own height to truly center */
  width: 200px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0; /* Add equal padding to the top and bottom */
}

.year {
  flex-grow: 2; 
  width: 100%;   
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-button {
  position: absolute;
  top: -15px;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: none;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0px 0px 10px  rgba(0, 0, 0, 1);
  cursor: pointer;
  transition: all 200ms;
}

.year-button-active {
  background: #E5DED8;
  color: #985944;
  outline: solid  7px white;
}

.year-button:hover {
  transform: scale(1.1);
  transition: all 200ms;
}


.line {
  position: absolute;
  top: 20%; 
  bottom: 20%; 
  left: 50%;
  border-left: 3px solid rgb(255, 255, 255); 
}
.category-select {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  bottom: 5em;
  height: 5em;
  width: 60em;

  margin-left: auto;
  margin-right: auto;

  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}

.sense-select {
  position: fixed;
  bottom: 20vh;
  left: 5em;
  height: 28vh;
  width: 8em;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  margin: 0 auto 0 auto;
}

.marker {
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 100px;
  cursor: pointer;
  animation: slide-up 0.5s ease;
  position: absolute;
}

.marker:hover {
  width: 126px;
  height: 105px;
}

.marker-1 {
  background-image: url("../assets/marker-1.svg");
}

.marker-2 {
  background-image: url("../assets/marker-2.svg");
}

.marker-3 {
  background-image: url("../assets/marker-3.svg");
}

.marker-4 {
  background-image: url("../assets/marker-4.svg");
}

.marker-5 {
  background-image: url("../assets/marker-5.svg");
}


.marker-animation {
  position: absolute;
  animation: pop 0.5s ease;
}

.marker.removing {
  -webkit-animation: fadeOut 500ms;
  -moz-animation: fadeOut 500ms;
  animation: fadeOut 200ms;
}

.introduction-popup {
  background-color: #f9f2ec;
  position: absolute;
  width: 75vw;
  height: 90vh;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  border-radius: 50px;
  overflow: hidden;
  background: #EFE3D5;
}

@keyframes slide-up {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    width: 20px;
    height: 16.666px;
  }
  50% {
    width: 200px;
    height: 166.666px;
  }
  100% {
    width: 120px;
    height: 100px;
  }
}
