body {
  font-family: "Merriweather";
}

.category-container {
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 10em;
}

.timeline {
  position: fixed;
  right: 0;
  top: 50%;  /* Position at center vertically */
  transform: translateY(-50%);  /* Shift up by half of its own height to truly center */
  width: 200px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0; /* Add equal padding to the top and bottom */
}

.year {
  flex-grow: 1; 
  width: 100%;   
  position: relative; 
  border-left: px solid black; /* This creates the vertical line */
  display: flex;
  justify-content: center;
  align-items: center; 
}

.year-btn-2022 {
  position: absolute;
  top: -15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
}

.year-btn-2021 {
  position: absolute;
  top: -15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
}

.year-btn-2019 {
  position: absolute;
  top: -15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
}

.year-btn-2018 {
  position: absolute;
  top: -15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background: rgb(0, 0, 0);
  color: white;
}

.year:first-child,
.year:last-child {
  height: 0;
}



.category-select {
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  bottom: 5em;
  height: 5em;
  width: 60em;

  margin-left: auto;
  margin-right: auto;

  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}

.sense-select {
  position: fixed;
  bottom: 20vh;
  left: 5em;
  height: 28vh;
  width: 8em;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  margin: 0 auto 0 auto;
}

.project-overview {
  position: fixed;
  bottom: 20vh;
  left: 5em;
  height: 28vh;
  width: 8em;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  margin: 0 auto 0 auto;
}

.marker {
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 100px;
  cursor: pointer;
  animation: slide-up 0.5s ease;
  position: absolute;
}

.marker-1 {
  background-image: url("../assets/marker-1.svg");
}

.marker-2 {
  background-image: url("../assets/marker-2.svg");
}


.marker-animation {
  position: absolute;
  animation: pop 0.5s ease;
}

.marker.removing {
  -webkit-animation: fadeOut 500ms;
  -moz-animation: fadeOut 500ms;
  animation: fadeOut 200ms;
}

@keyframes slide-up {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    width: 20px;
    height: 16.666px;
  }
  50% {
    width: 200px;
    height: 166.666px;
  }
  100% {
    width: 120px;
    height: 100px;
  }
}
