.category-select {
  position: fixed;
  top: 20vh;
  left: 5em;
  height: 28vh;
  width: 8em;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  margin: 0 auto 0 auto;
}

.sense-select {
  position: fixed;
  bottom: 20vh;
  left: 5em;
  height: 28vh;
  width: 8em;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  margin: 0 auto 0 auto;
}

.project-overview {
  position: fixed;
  bottom: 20vh;
  left: 5em;
  height: 28vh;
  width: 8em;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
  margin: 0 auto 0 auto;
}

.marker {
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 100px;
  cursor: pointer;
  animation: slide-up 0.5s ease;
  position: absolute;
}

.marker-1 {
  background-image: url("../assets/marker-1.svg");
}

.marker-2 {
  background-image: url("../assets/marker-2.svg");
}


.marker-animation {
  position: absolute;
  animation: pop 0.5s ease;
}

.marker.removing {
  -webkit-animation: fadeOut 500ms;
  -moz-animation: fadeOut 500ms;
  animation: fadeOut 200ms;
}

@keyframes slide-up {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    width: 20px;
    height: 16.666px;
  }
  50% {
    width: 200px;
    height: 166.666px;
  }
  100% {
    width: 120px;
    height: 100px;
  }
}
